.main {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    padding-top: 100px ;
}

.redline {
    flex: 40%;
    margin-left: 10%;
}


.redline h2 {
    font-weight: 900;
    font-size: 20px;
    color:  var(--text-body);
    padding: 0;
    margin: 0;
}

.redline p {
    color: gray;
    text-align: left;

}

.contact-btn{
    display: inline-block;
    background-color: var(--pink);
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: var(--hard-blue);
}

.img-redline {
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}
.img-redline img {
    max-width: 90%;
}

.section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

.section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    color: var(--text-body);
}

.servicos { 
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid var(--pink);
    border-radius: 10px;
    cursor: pointer;
}

.text-hidden {
    display: none;
}

.card:hover {
    background-color: var(--pink);
    color: var(--white);
    padding: 40px;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .text-hidden {
    display: block;
}

@media (max-width: 1005px) {
    .main {
        padding-top: 50px;
    }

    .redline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .redline p {
        text-align: center;
    }
    
    .card {
        width: 100%;
    }

    .img-redline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
}