footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.logo-rodape {
    padding: 100px;
}

.agencia {
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 34px;
}

.buttons { 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
}
.button-link {
    width: auto;
}

.button-link a {
    font-size: 12px;
    padding: 0.175rem 0.65rem;
    
}

.button-link .btn {
    border-radius: 1.375rem;
}